body {
  background-color: #111;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.text-green {
  color: lightgreen;
}

.text-yellow {
  color: yellow;
}

.text-red {
  color: coral;
}

.project-card {
  background-color: #444;
  padding: 4px;
  margin: 2px;
  border-radius: 5px;
}