body {
  background-color: #222;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.text-green {
  color: lightgreen;
}

.project-card {
  background-color: #444;
  padding: 4px;
  margin: 2px;
  border-radius: 5px;
}