#cmd-input {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  border: none;
  outline: none;
  width: 80%;
}

input {
  border: none;
  outline: none;
}

input:hover {
  border: none;
  outline: none;
}

input:focus {
  border: none;
  outline: none;
}